albumentations
black
easydict
flake8
ipykernel
ipywidgets
matplotlib
ndjson
numpy
opencv-python
openpyxl
optuna
optuna-dashboard
Pillow
plotly
pycocotools
pymysql
PyYAML
scikit-learn
scikit-image
seaborn
segmentation-models-pytorch
tensorboardX
timm
tqdm
urllib3
yacs